<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Booking</title>
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;700&family=Poppins:wght@100;200;300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/4e0713dd2e.js"></script>
  </head>
  <body>
    <div class="container text-center py-3">
      <h3>Select Seats</h3>
      <div class="row">
        <div class="col-lg-12"></div>
        <div class="col-lg-6">
          <div id="seats"></div>
          <div id="price-details"></div>
        </div>
        <div
          class="col-lg-6 d-flex align-items-center flex-column"
          id="details"
        >
          <h5>Bill Information</h5>
          <div id="threater-details" class="card pt-3 text-left">
            <p class="pl-3">
              <span>Threater</span>
              <span class="threater-name text-warning float-right pr-3"></span>
            </p>
            <p class="pl-3">
              <span>Movie</span>
              <span class="movie-name text-warning float-right pr-3"></span>
            </p>
            <p class="pl-3">
              <span>Show Time</span>
              <span class="show-time text-warning float-right pr-3"></span>
            </p>
            <p class="pl-3">
              <span>Duration</span>
              <span class="duration text-warning float-right pr-3"></span>
            </p>
          </div>
          <div class="bill card p-3 my-3">
            <p class="">Selected Seat</p>
            <div id="selected-seat"></div>
            <div class="pt-4 text-left">
              <span
                >Silver
                <span class="sel-silver ml-5 text-primary">0</span>
                <span class="sel-silver-price float-right text-danger"
                  >0 Rs</span
                >
              </span>
            </div>
            <div class="pt-4 text-left">
              <span
                >Gold &nbsp;<span class="sel-gold ml-5 text-primary">0</span>
                <span class="sel-gold-price float-right text-danger">0 Rs</span>
              </span>
            </div>
            <div class="pt-4 text-left">
              <span
                >Platinum <span class="sel-platinum ml-4 text-primary">0</span>
                <span class="sel-platinum-price float-right text-danger"
                  >0 Rs</span
                >
              </span>
            </div>
          </div>

          <div class="total card py-3 px-3">
            <div class="d-flex justify-content-between">
              <span>Total Amount</span>
              <span class="text-danger font-weight-bold" id="total">0 Rs</span>
            </div>
          </div>
          <a
            href="confirm_page.html"
            class="text-white btn btn-primary w-50 my-3"
            >Confirm Booking</a
          >
          <a href="index.html" class="text-white btn btn-danger w-50"
            >Cancel Booking</a
          >
        </div>
      </div>
    </div>

    <script src="/model/Threater.js"></script>
    <script src="/model/Movie.js"></script>
    <script src="/controller/seats.js"></script>
  </body>
</html>
