<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Booking</title>
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;700&family=Poppins:wght@100;200;300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/4e0713dd2e.js"></script>
  </head>
  <body>
    <div class="container text-center py-3">
      <h3>Select Seats</h3>
      <div class="row">
        <div class="col-lg-12"></div>
        <div class="col-lg-6">
          <div id="seats"></div>
          <div id="price-details"></div>
        </div>
        <div class="col-lg-6" id="details">
          <h5>Bill Information</h5>
          <div></div>
          <div class="bill">
            <p>Selected Seat</p>
            <div id="selected-seat"></div>
            <div>
              <span
                >Silver X <span class="sel-silver"></span> =
                <span class="sel-silver-price"></span> RS
              </span>
            </div>
            <div>
              <span
                >Gold X <span class="sel-gold"></span> =
                <span class="sel-gold-price"></span> RS
              </span>
            </div>
            <div>
              <span
                >Platinum X <span class="sel-platinum"></span> =
                <span class="sel-platinum-price"></span> RS
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/model/Threater.js"></script>
    <script src="/model/Movie.js"></script>
    <script src="/controller/seats.js"></script>
  </body>
</html>
