body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 > span {
  color: rgb(105, 221, 27);
}

.location-container select {
  border: 1px solid #333;
}

.card {
  width: 18rem;
}

.card > img {
  height: 16rem;
}

.overlay1 p {
  font-weight: 300;
  letter-spacing: 3px;
  padding: 0 8rem !important;
}

.con-2 {
  background: #333;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.my-dark {
  background: #333;
}
